In [1]:
# self-generated similar design, PEERS semantic matrix
# simplify?
import pandas as pd
import numpy as np
import pickle

In [2]:
# 1638 words
with open("../Data/wordpools/wasnorm_wordpool.txt") as f:
    items = f.readlines()
items = [i.replace("\n","") for i in items]
items = np.array(items)

In [3]:
simu_sess_num = 100
nlist = 78
n = 6
wordpool = np.arange(1,1639)
pos_lags = np.array([0,1,2,3,4,5])

In [4]:
df_study = pd.DataFrame()
df_test = pd.DataFrame()
rng = np.random.default_rng(seed=42)

for sess in range(simu_sess_num):

    all_words = rng.choice(wordpool, nlist*2*n, replace = False)

    for lst in range(nlist):

        tmp_df_study = pd.DataFrame()
        tmp_df_test = pd.DataFrame()
        
        # choose present words
        pres_words = all_words[lst*2*n:(lst+1)*2*n]
        pres_words = np.reshape(pres_words, (n,2))
        tmp_df_study['study_itemno1'] = pres_words[:,0]
        tmp_df_study['study_itemno2'] = pres_words[:,1]
        tmp_df_study['study_item1'] = items[pres_words[:,0]-1]
        tmp_df_study['study_item2'] = items[pres_words[:,1]-1]
        tmp_df_study['list'] = lst
        tmp_df_study['session'] = sess
        df_study = pd.concat([df_study, tmp_df_study])
        
        # choose test words
        lag = rng.choice(pos_lags)
        test_probe = pres_words[5-lag][0]
        correct_ans = pres_words[5-lag][1]
        tmp_df_test['test_itemno'] = [test_probe]
        tmp_df_test['test_item'] = items[test_probe-1]
        tmp_df_test['correct_ans'] = [correct_ans]
        tmp_df_test['lag'] = lag
        tmp_df_test['list'] = lst
        tmp_df_test['session'] = sess
        df_test = pd.concat([df_test, tmp_df_test])

df_study.reset_index(inplace = True, drop=True)
df_test.reset_index(inplace = True, drop=True)

In [5]:
df_study

       study_itemno1  study_itemno2 study_item1 study_item2  list  session
0               1071            857      PIMPLE     MAILBOX     0        0
1                309           1029   CIGARETTE         PAW     0        0
2                624            700      GARLIC        HEEL     0        0
3                195           1389    BULLETIN    STRANGER     0        0
4                580            392     FLIPPER      COUSIN     0        0
...              ...            ...         ...         ...   ...      ...
46795           1076           1273      PISTON       SHACK    77       99
46796             88            670      BARLEY      GUITAR    77       99
46797            470           1259     DIPLOMA         SEA    77       99
46798           1397           1530         STY     TWISTER    77       99
46799            511           1294    DYNAMITE    SHOULDER    77       99

[46800 rows x 6 columns]

In [6]:
df_test

      test_itemno test_item  correct_ans  lag  list  session
0             580   FLIPPER          392    1     0        0
1             744      IRON          245    3     1        0
2             316     CLAMP          958    5     2        0
3             109    BEAVER         1326    2     3        0
4             768  KANGAROO         1632    0     4        0
...           ...       ...          ...  ...   ...      ...
7795           61    AUTHOR         1150    4    73       99
7796          185    BUCKLE          400    0    74       99
7797         1462     THUMB          452    2    75       99
7798          944     NERVE         1122    0    76       99
7799         1076    PISTON         1273    4    77       99

[7800 rows x 6 columns]

In [7]:
# save
with open('../Data/simu5_design.pkl', 'wb') as outp:
    pickle.dump(df_study, outp, pickle.HIGHEST_PROTOCOL)
    pickle.dump(df_test, outp, pickle.HIGHEST_PROTOCOL)