In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
# 1638 words
with open("../Data/wordpools/wasnorm_wordpool.txt") as f:
    items = f.readlines()
items = [i.replace("\n","") for i in items]
items = np.array(items)

In [3]:
simu_sess_num = 1000
n = 6
wordpool = np.arange(1,1639)
pos_lags = np.array([0,1,2,3,4,5])

In [4]:
df_study = pd.DataFrame()
df_test = pd.DataFrame()
rng = np.random.default_rng(seed=42)

for sess in range(simu_sess_num):
    tmp_df_study = pd.DataFrame()
    tmp_df_test = pd.DataFrame()
    
    # choose present words
    pres_words = rng.choice(wordpool, 2*n, replace = False)
    pres_words = np.reshape(pres_words, (n,2))
    tmp_df_study['study_itemno1'] = pres_words[:,0]
    tmp_df_study['study_itemno2'] = pres_words[:,1]
    tmp_df_study['study_item1'] = items[pres_words[:,0]-1]
    tmp_df_study['study_item2'] = items[pres_words[:,1]-1]
    tmp_df_study['session'] = sess
    df_study = df_study.append(tmp_df_study)
    
    # choose test words
    lag = rng.choice(pos_lags)
    test_probe = pres_words[5-lag][0]
    correct_ans = pres_words[5-lag][1]
    tmp_df_test['test_itemno'] = [test_probe]
    tmp_df_test['test_item'] = items[test_probe-1]
    tmp_df_test['correct_ans'] = [correct_ans]
    tmp_df_test['lag'] = lag
    tmp_df_test['session'] = sess
    df_test = df_test.append(tmp_df_test)

df_study.reset_index(inplace = True, drop=True)
df_test.reset_index(inplace = True, drop=True)

In [5]:
df_study

      study_itemno1  study_itemno2 study_item1 study_item2  session
0               716            141        HOOP     BLUEJAY        0
1              1261            862     SEAGULL         MAN        0
2              1067           1402        PIKE        SUIT        0
3               146            707        BOLT     HIGHWAY        0
4               155           1140     BOULDER      PUDDLE        0
...             ...            ...         ...         ...      ...
5995            819           1094     LIGHTER  POCKETBOOK      999
5996            594           1504        FORK    TRIANGLE      999
5997           1026           1317     PATRIOT     SKILLET      999
5998            420           1087        CUBE  PLAYGROUND      999
5999           1528           1487        TWIN        TOTE      999

[6000 rows x 5 columns]

In [6]:
df_test

     test_itemno test_item  correct_ans  lag  session
0            716      HOOP          141    5        0
1            736    INDIAN         1342    5        1
2           1217       RUM          318    1        2
3           1119  PREACHER          754    1        3
4             13   AIRPORT          327    0        4
..           ...       ...          ...  ...      ...
995          303      CHIP         1035    2      995
996          135   BLANKET          425    1      996
997          667     GUARD          484    1      997
998          121     BENCH          292    1      998
999          594      FORK         1504    3      999

[1000 rows x 5 columns]

In [7]:
# save
with open('../Data/simu6_design.pkl', 'wb') as outp:
    pickle.dump(df_study, outp, pickle.HIGHEST_PROTOCOL)
    pickle.dump(df_test, outp, pickle.HIGHEST_PROTOCOL)